.sc1 {
	width: 100%;
	margin: 5px 0px;
	background-color: #3498db;
	display: inline-block;
	padding: 0px 10px;
}
.sc2 {
	float: right;
}
.sc3 {
	color: white;
	float: left;
	padding: 6px  0px;
}
.sc4 {
	float: right;
}.sc4 td {
	padding: 5px 0px;
}
a.sc4{
	cursor: pointer;
}
.sc4 .facebook-icon {
	background-image: url(images/social-connections-icons.png);
	height: 32px !important;
	width: 32px;
	background-position: 0 0;
	margin: 0px 5px;
}
.sc4 .twitter-icon {
	background-image: url(images/social-connections-icons.png);
	height: 32px !important;
	width: 32px;
	background-position: -32px 0px;
	margin: 0px 5px;
}
.sc4 .google-icon {
	background-image: url(images/social-connections-icons.png);
	height: 32px !important;
	width: 32px;
	background-position: -125px 0px;
	margin: 0px 5px;
}
.sc4 .instagram-icon {
	background-image: url(images/social-connections-icons.png);
	height: 32px !important;
	width: 32px;
	background-position: -63px 0px;
	margin: 0px 5px;
}
.sc4 .pinterest-icon {
	background-image: url(images/social-connections-icons.png);
	height: 32px !important;
	width: 32px;
	background-position: -95px 0px;
	margin: 0px 5px;
}
@media only screen and (max-width: 400px){
	.sc2 {
		width: 100%;
		float: none;
	}
	.sc3{
		width: 100%;
		text-align: center;
	}
	.sc4 {
		width: 100%;
	}
}